:root {
  /* Color palette */
  --primary-blue: #305cde;
  --faint-blue: #6eb8fd;
  --secondary-blue: #274ab3;
  --dark-blue: #111184;

  /* You can add more global variables here */
  --color-text: #333;
  --color-background: #f5f5f5;
  --font-primary: "Helvetica", Arial, sans-serif;
}

/* Global styles */
body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

/* Global link styling */
a,
a:visited {
  color: var(--secondary-blue);
  text-decoration: underline;
  text-underline-offset: 2px;
}

a:hover {
  opacity: 0.8;
}
